p.lead.text-muted
  | Votre contrat d 'assurance est maintenant valide ! Vous pouvez l'enregistrer
  | puis imprimer les pièces. Avant de continuer, merci de vous assurer de
  | l'exactitude des données que vous avez rempli et de vos choix de couverture.
