.row.tkf-assistance-index-1
  .col-sm-6.tkf-assistance-index-1.col-sm-6.tkf-assistance-index-index-1
    h1
      span ASSURANCE TAKAFUL
      span.text-orange  ASSISTANCE
    ul.title
      li.text-orange.text-color
        | A qui est destinée cette assurance ?
        ul
          li.text-gray
            | A toute personne s'apprêtant à aller à l'étranger.
          li.text-gray Aux agences de voyage (pour les voyages organisés: circuits touristiques, omra, pèlerinage...).
           li.text-gray Aux entreprises dont les cadres partent souvent en mission à l'étranger.
        li.text-orange.text-color
          | Quel est son but ?
          p.text-gray.parag-index-1 Permettre à l'assuré:
          ul
            li.text-gray de voyager l'esprit serein en étant sûr que, là où il sera, il aura sur qui compter en cas de pépin.
             li.text-gray d'obtenir le visa réservé à l'espase Schengen.
        li.text-orange.text-color
          | Quelles garanties offre-t-elle ?
          p.text-gray.parag-index-1 Celles-ci sont aussi nombreuses que variées (assistance médicale, financière et juridique). Parmi les plus importantes:
          ul
           li.text-gray
             p.parag-index-1.text-bold.text-gray En cas de maladie ou d'accident:
             ul
               li.text-gray la prise en charge des frais médicaux et d'hospitalisation (pouvant aller jusqu à 50 000 $).
                li.text-gray le transport du malade vers un centre hospitalier adéquat ou son rapatriement en Tunisie.
           li.text-gray
             p.parag-index-1
              span.text-bold.text-gray En cas de décès:
              span.text-gray  rapatriement de la dépouille en Tunisie.
           li.text-gray
             p
              span.text-bold.text-gray En cas de perte de bagage:
              span.text-gray  remboursement du coût du contenu en complément de la garantie du transporteur.
  .col-sm-6.text-center.tkf-assistance-index-1
    img.img-index-1(src='img/assistance.png')
    p.hang-parag-index-1.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.hang-parag-index-index-1 Vous partez loin ?
    p.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.hang-parag-index-index-1 At-Takafulia sera à vos côtés là où vous irez
.row.tkf-assistance-index-2
  .col-sm-6.tkf-assistance-index-2
    h1.tkf-index-2-pos.left-notice Les notices
    ul.tkf-index-2-pos.tkf-index-index-2-circle.left-notice-subtitle
      li
        a.btn.tkf-index-2(href='res/assistance/Notice-Information-FR.pdf', target='_blank')
          | Notice d'Information (Français)
      li
        a.btn.tkf-index-2(href='res/assistance/Notice-Information-AR.pdf', target='_blank')
          | Notice d'Information (Arabe)
  .col-sm-6.tkf-assistance-index-2
    h1.tkf-index-2-pos.left-paper Nos formulaires papier
    ul.tkf-index-2-pos.tkf-index-index-2-circle.left-paper-subtitle
      li
        a.btn.tkf-index-2(href='res/assistance/Assistance-FDR.pdf', target='_blank')
          | Formulaire de Déclaration du Risque (Bilingue)
      li
        a.btn.tkf-index-2(href='res/DECLARATION-DE-PARTICIPATION.pdf', target='_blank')
          | Déclaration de participation (Bilingue)
