div
  .col-sm-4.form-group
    label.control-label Nature du contrat
    div(data-fields='kind')
  .col-sm-4.form-group
    label.control-label Date d'effet
    div(data-fields='effectiveDate')
  .col-sm-4.form-group
    label.control-label Date de fin
    div(data-fields='endDate')
