.tkf-error
.panel.panel-default      
  .panel-heading: h3.panel-title Le Souscripteur
  ul.list-group
    li.list-group-item.tkf-step5-subscriber
.panel.panel-default
  .panel-heading: h3.panel-title Le Contrat
  ul.list-group
    li.list-group-item.tkf-quote-header
    li.list-group-item.tkf-panel-sep
    li.list-group-item.tkf-quote-travel
.panel.panel-default
  .panel-heading: h3.panel-title La Contribution
  ul.list-group
    li.list-group-item.tkf-step5-premium
    li.list-group-item.tkf-panel-sep
    li.list-group-item.tkf-step5-message
    li.list-group-item.tkf-panel-sep
    li.list-group-item.tkf-step5-save
