.tkf-error
.panel.panel-default
  .panel-heading: h3.panel-title Voyageurs
  .panel-body.tkf-travelers
.panel.panel-default
  .panel-heading: h3.panel-title Médecin Traitant
  .panel-body.tkf-doctor
.panel.panel-default
  .panel-heading: h3.panel-title Personne à Prévenir
  .panel-body.tkf-person-to-prevent
.panel.panel-default
  .panel-heading: h3.panel-title Souscripteur
  ul.list-group
    li.list-group-item.tkf-subscriber-type
    li.list-group-item.tkf-panel-sep
    li.list-group-item.tkf-subscriber
