.row
  .col-sm-3.form-group
    label.control-label Nom
    .form-control-static(data-fields='name')
  .col-sm-3.form-group
    label.control-label Téléphone
    .form-control-static(data-fields='phone')
  .col-sm-6.form-group
    label.control-label Adresse
    .form-control-static(data-fields='address')
