.form-horizontal
  .form-group
    label.control-label.col-sm-2 Destination(s)
    .col-sm-10(data-fields='country')
  .form-group
    label.control-label.col-sm-2 Type du contrat
    .col-sm-4(data-fields='type')
    label.control-label.col-sm-2 Nb voyageurs
    .col-sm-4(data-fields='personsNumber')
