form(role='form', novalidate)
  .row
    .col-sm-3.form-group
      label.control-label Tarif Plancher
      .checkbox
        label
          input(type='checkbox',
            ng-model='policy.admin.useFloorRate')
          | Appliquer
    .col-sm-3.form-group
      label.control-label Age maximum de l'assuré
      input.form-control(type='number',
        min=0,
        ng-model='policy.admin.maxAge')
    .col-sm-3.form-group
      label.control-label Abattement: taux maximal
      input.form-control(type='number',
        min=0,
        max=0.25,
        ng-model='policy.admin.termSurvAdjustMax')