button.btn.btn-default.btn-block(type='button', ng-click='reload()')
  span.glyphicon.glyphicon-refresh
  | Recharger
button.btn.btn-success.btn-block(type='button', ng-click='save()')
  span.glyphicon.glyphicon-save
  | Enregistrer
button.btn.btn-warning.btn-block(type='button', ng-click='toRequest()')
  span.glyphicon.glyphicon-question-sign
  | Requête siège
button.btn.btn-warning.btn-block(type='button', ng-click='toBackEnd()')
  span.glyphicon.glyphicon-pencil
  | Back office
button.btn.btn-warning.btn-block(type='button', ng-click='toAdmin()')
  span.glyphicon.glyphicon-cog
  | Administration
button.btn.btn-danger.btn-block(type='button', ng-click='toContract()')
  span.glyphicon.glyphicon-ok-sign
  | Souscrire
button.btn.btn-danger.btn-block(type='button', ng-click='toQuote()')
  span.glyphicon.glyphicon-star
  | Devis
