p.lead.text-muted
  | Votre contrat d 'assurance est maintenant valide ! Avant de continuer,
  | merci de vous assurer de l'exactitude des données que vous avez rempli
  | et de vos choix de couverture. Enfin, veuillez enregitrer le contrat.
.row
  .col-sm-6: p.btn.btn-block.btn-warning(data-actions='save') Enregistrer
  .col-sm-6(data-actions='validate')
