p.lead.text-muted
  | Si vous souhaitez solliciter une intervention du siège, veuillez enregistrer
  | le projet de contrat et nous contacter en fournissant la référence du devis (<%= reference %>).
.row
  .col-sm-8
  .col-sm-4: p
    a.btn.btn-block.btn-warning(data-actions='saveProject') Enregistrer le projet de contrat
