table.table.tkf-coverages-table
  thead
    tr
      th
      th Garantie
      th Capital
      th Franchise
      th.tkf-amount Cot. Ann
      th.tkf-amount Cot. Compt
      th.tkf-amount Taxe
  tbody
