table.table.table-striped
  thead
    tr
      th N°
      th Mat.
      th Usage
      th Modèle
      th Valeur
      th(colspan='3') Actions
  tbody
  tfoot
    tr
      th N°
      th Mat.
      th Usage
      th Modèle
      th Valeur
      th(colspan='3') Actions
