.form-horizontal
  .form-group
    .col-sm-4(data-fields='usage')
    .col-sm-4(data-fields='cover')
    .col-sm-3(data-fields='discount')
    .col-sm-1
      a.glyphicon.glyphicon-floppy-disk.btn-success.btn-sm(data-actions='saveDiscount')