table.table.table-striped
  thead
    tr
      th Appliquer ce bonus à tous les véhicules
      th
      th
      th
  tbody
    tr
      td.col-sm-6
      td.col-sm-2(data-fields='customBonus')
      td.col-sm-2
          a.btn.btn-block.btn-success(data-actions='applyBonus') Appliquer
      td.col-sm-2
          a.btn.btn-block.btn-warning(data-actions='revertBonus') Annuler
