.row
  .col-sm-3.form-group
    label.control-label Date d'effet
    div(data-fields='effectiveDate')
  .col-sm-3.form-group
    label.control-label Date d'échéance
    div(data-fields='fleetTermDate')
  .col-sm-3.form-group
    label.control-label
    a.btn.btn-block.btn-success(data-actions='recalculate') Recalculer
  .col-sm-3.form-group
    label.control-label
    a.btn.btn-block.btn-info(data-actions='exportFleet') Exporter
