tr
  td.col-sm-10(data-values='description')!= '<%= description %>'
  td.col-sm-1
    a.btn.btn-block.btn-success(data-actions='unlockValidation') Accepter
  td.col-sm-1
    a.btn.btn-block.btn-danger(data-actions='lockValidation') Rejeter
