.list-group
  a.list-group-item
    h4.list-group-item-heading Contrat
    .list-group-item-text.tkf-summary-contract
  a.list-group-item
    h4.list-group-item-heading Contribution
    .list-group-item-text.tkf-summary-premium
  a.list-group-item
    h4.list-group-item-heading Souscripteur
    .list-group-item-text.tkf-summary-subscriber
