table.table.table-striped
  thead
    tr
      th
      th N°
      th Mat.
      th Usage
      th Cont. Nette
      th Taxes
      th Timbres
      th Attest.
      th
      th(colspan='3') Actions
  tbody
  tfoot
    tr
      th
      th N°
      th Mat.
      th Usage
      th Cont. Nette
      th Taxes
      th Timbres
      th Attest.
      th
      th(colspan='3') Actions