ul.list-group
  li.list-group-item.tkf-panel-sep Liste des motifs bloquant la validation
  li.list-group-item.tkf-validate-locks
  li.list-group-item.tkf-panel-sep Modification des classes BM
  li.list-group-item.tkf-validate-bonus
  li.list-group-item.tkf-panel-sep Réductions
  li.list-group-item.tkf-validate-discount-action
  li.list-group-item.tkf-validate-discount
  li.list-group-item.tkf-validate-actions
