.row
  .col-sm-4
    a.btn.btn-block.btn-success(data-actions='dowloadExp') Note explicative
  .col-sm-4
    a.btn.btn-block.btn-success(data-actions='dowloadModel') Modèle
  .col-sm-4
    a.btn.btn-block.btn-info(data-actions='importFleet') Importer