.form-horizontal
  .form-group
    label.control-label.col-sm-3 Nom
    .col-sm-3(data-fields='gender')
    .col-sm-3(data-fields='firstName')
    .col-sm-3(data-fields='lastName')
  .form-group
    label.control-label.col-sm-3 Type et num de P.I
    .col-sm-3(data-fields='typePI')
    .col-sm-3(data-fields='numPI')
  .form-group
    label.control-label.col-sm-3 Adresse
    .col-sm-3(data-fields='countryOfOrigin')
    .col-sm-3(data-fields='addressOfCountryOfOrigin')
