div
  .form-horizontal
    .form-group
      .col-sm-3
        label.control-label Type
      .col-sm-3
        div(data-fields='type')
      .col-sm-3
        label.control-label Durée du contrat
      .col-sm-3
        div(data-fields='duration')
    .form-group
      .col-sm-3
        label.control-label Date d'effet
      .col-sm-3
        div(data-fields='beginDate')
      .col-sm-3
        label.control-label Date d'expiration
      .col-sm-3
        div(data-fields='endDate')
