.form-horizontal
  .form-group
    label.control-label.col-sm-3 Marque et Immat
    .col-sm-3(data-fields='vin')
    .col-sm-3(data-fields='make')
    .col-sm-3(data-fields='registrationNumber')
  .form-group
    label.control-label.col-sm-3 Moteur
    .col-sm-3(data-fields='motorNumber')
    .col-sm-3(data-fields='internationalCode')
  .form-group
    label.control-label.col-sm-3 Remorque
    .col-sm-3(data-fields='trailerMake')
    .col-sm-3(data-fields='trailerRegistrationNumber')
