table.table.summary
  div
    .row
      .col-sm-4
        a.btn.btn-block.btn-success(type ='button', href!='print?doc=<%= receiptRef %>&lob=/all/receipt&id=<%= receiptRef %>') Quittance
      .col-sm-4
        a.btn.btn-block.btn-success(type ='button', href!='print?doc=<%= reference %>&lob=/auto/frontiereAttestation&id=<%= reference %>') Attestation
