.panel.panel-default
  .panel-heading: h3.panel-title Type de police
  .panel-body.tkf-quote-form
.panel.panel-default
  .panel-heading: h3.panel-title Données du Véhicule
  .panel-body.tkf-vehicle
.panel.panel-default
  .panel-heading: h3.panel-title Assuré
  .panel-body.tkf-subscriber
.panel.panel-default
  .panel-heading: h3.panel-title Actions
  .panel-body.tkf-regenerate
