.row.tkf-auto-index-1
  .col-sm-6.tkf-auto-index-1.col-sm-6.tkf-auto-index-index-1
    h1
      span ASSURANCE TAKAFUL
      span.text-green  AUTOMOBILE
    ul.title
      li.text-green.text-color
        | A qui est destinée cette assurance ?
        p.text-gray A toute personne, physique ou morale, possédant un ou plusieurs véhicules automobiles.
        li.text-green.text-color
          | Quel est son but ?
          ul
            li.text-gray Préserver le véhicule de l’assuré en le couvrant contre les dommages qui peuvent lui être causés.
              li.text-gray Rembourser l’assuré en cas de vol ou d’incendie de son véhicule.
               li.text-gray Couvrir les dommages subis par les tiers, le conducteur et les passagers du véhicule assuré.
                li.text-gray Prêter assistance au conducteur et aux passagers en cas d’accident ou de panne.
        li.text-green.text-color Quelles garanties offre-t-elle ?
          ul
           li.text-gray
             p
              span.text-bold.text-gray ‘’La responsabilité civile’’:
              span.text-gray  remboursement, des dommages corporels et matériels causés aux tiers.
           li.text-gray
             p
              span.text-bold.text-gray La garantie ‘’Dommages au véhicule’’
              span.text-gray  (‘Tous risques’): indemnisation de l’assuré, même s’il est fautif.
           li.text-gray
             p
              span.text-bold.text-gray La garantie ‘’Dommages collision’’:
              span.text-gray  remboursement, à concurrence d’un certain montant, des dommages subis par le véhicule assuré  suite à un choc  avec un véhicule identifié.
           li.text-gray
             p
              span.text-bold.text-gray La garantie ‘’Personnes transportées’’:
              span.text-gray couvre le décès et les dommages corporels des passagers du véhicule assuré.
  .col-sm-6.text-center.tkf-auto-index-1
    img.img-index-1(src='img/auto.png')
    p.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.hang-parag-index-index-1 Vous êtes à la recherche d'une multirisque automobile 
     span.hang-parag-index-index-1 qui vous ôte tout souci?
.row.tkf-auto-index-2
  .col-sm-6.tkf-auto-index-2
    h1.tkf-index-2-pos.left-condition Nos conditions générales
    ul.tkf-index-2-pos.tkf-index-index-2-circle
      li
        a.btn.tkf-index-2(href='res/auto/Auto-CG-AR.pdf', target='_blank')
          | Conditions Générales (Arabe)
      li
        a.btn.tkf-index-2(href='res/auto/Auto-CG-FR.pdf', target='_blank')
          | Conditions Générales (Français)
      li
        a.btn.tkf-index-2(href='res/auto/Assistance-Utilitaire-Plus-AR.pdf', target='_blank')
          | Assistance Utilitaire + (Arabe)
      li
        a.btn.tkf-index-2(href='res/auto/Assistance-Gold-AR.pdf', target='_blank')
          | Assistance Gold (Arabe)
      li
        a.btn.tkf-index-2(href='res/auto/Assistance-Accidents-Auto-AR.pdf', target='_blank')
          | Assistance Accident Automobile (3A) (Arabe)
      li
        a.btn.tkf-index-2(href='res/auto/Assistance-Accidents-Auto-FR.pdf', target='_blank')
          | Assistance Accident Automobile (3A) (Français)
  .col-sm-6.tkf-auto-index-2
    h1.tkf-index-2-pos.left-paper  Nos formulaires papier
    ul.tkf-index-index-2-circle.tkf-index-2-pos.left-paper
      li
        a.btn.tkf-index-2(href='res/DECLARATION-DE-PARTICIPATION.pdf', target='_blank')
          | Déclaration de participation (Bilingue)
      li
        a.btn.tkf-index-2(href='res/auto/Auto-FDR.pdf', target='_blank')
          | Formulaire de Déclaration du Risque (Bilingue)
      li
        a.btn.tkf-index-2(href='res/auto/Auto-Annexe-CP-AR.pdf', target='_blank')
          | Annexe Conditions Particulières (Arabe)
      li
        a.btn.tkf-index-2(href='/res/auto/Auto-Annexe-Dommages-Collision-FR.pdf', target='_blank')
          | Annexe Dommage Collision (Français)
