.form-horizontal
  .form-group
    .col-sm-2(data-fields='mode')
    .col-sm-2(data-fields='amount')
    .col-sm-3(data-fields='num')
    .col-sm-2(data-fields='bank')
    .col-sm-2(data-fields='date')
    .col-sm-1(data-actions='addPayment')
      span.glyphicon.glyphicon-plus.btn-sm.btn-success.navbar-right
