.form-horizontal
  .form-group
    label.control-label.col-sm-2 Numéro du Contrat
    .col-sm-3(data-fields='reference')
    label.control-label.col-sm-2 Nom du Client
    .col-sm-3(data-fields='clientName')
    .col-sm-2
      a.btn.btn-block.btn-warning(data-actions='term') Rechercher