.form-horizontal
  .form-group
    label.control-label.col-sm-2 Clause P/C
    .col-sm-5(data-fields='beneficiaryClause')
  .form-group
    label.control-label.col-sm-2 Société
    .col-sm-10(data-fields='companyName')
  .form-group
    label.control-label.col-sm-2 Main levée
    .col-sm-5(data-fields='withdrawalDate')
