.tkf-error
.panel.panel-default
  .panel-heading: h3.panel-title Critères de Recherche
  .panel-body.tkf-criteria
.panel.panel-default
  .panel-heading: h3.panel-title Résultats
  .panel-body.tkf-results
