div
  .row.tkf-regenerate
    .col-sm-4
    .col-sm-4
      a.btn.btn-block.btn-success(data-actions='regenerate') Régénérer les documents
    .col-sm-4
  br
  .row
    .col-sm-4(data-actions='aePrint')
    .col-sm-4(data-actions='atPrint')
    .col-sm-4(data-actions='rcPrint')
