div
  .row
    .col-sm-4(data-fields='attestationNumber')
    .col-sm-4
      a.btn.btn-block.btn-success(data-actions='validate') Valider
    .col-sm-4
      p.btn-bllock.bg-danger.tkf-message-text
  .row
    .col-sm-4(data-actions='aePrint')
    .col-sm-4(data-actions='atPrint')
    .col-sm-4(data-actions='rcPrint')
