.page-header.tkf-consult-title: h3 Terme
.panel.panel-default
  .panel-heading: h3.panel-title Police
  ul.list-group
    li.list-group-item.tkf-header
  .panel-heading: h3.panel-title Véhicule
  ul.list-group
    li.list-group-item.tkf-vehicle
  .panel-heading: h3.panel-title Garanties
  ul.list-group
    li.list-group-item.tkf-coverages
  .panel-heading: h3.panel-title Contribution
  ul.list-group
    li.list-group-item.tkf-premium
  .panel-heading: h3.panel-title Souscripteur
  ul.list-group
    li.list-group-item.tkf-subscriber
  .panel-heading: h3.panel-title Actions
  ul.list-group
    li.list-group-item.tkf-payment
    li.list-group-item.tkf-payment-list
    li.list-group-item.tkf-actions-quote
    li.list-group-item.tkf-actions-policy
