.page-header.tkf-header: h3 Validation police
.panel.panel-default
  .panel-heading: h3.panel-title Police
  .panel-body.tkf-policy
.panel.panel-default
  .panel-heading: h3.panel-title Contribution
  .panel-body.tkf-contribution
.panel.panel-default
  .panel-heading: h3.panel-title Validation
  .panel-body.tkf-validate-policy
.panel.panel-default
  .panel-heading: h3.panel-title Editique
  .panel-body.tkf-reports