.form-horizontal
  .form-group
    label.control-label.col-sm-3 Modèle
    .col-sm-3(data-fields='vin')
    .col-sm-3(data-fields='make')
    .col-sm-3(data-fields='model')
  .form-group
    label.control-label.col-sm-3 Motorisation
    .col-sm-3(data-fields='power')
    .col-sm-3(data-fields='fuel')
    .col-sm-3(data-fields='placesNumber')
  .form-group
    label.control-label.col-sm-3 Caractéristiques
    .col-sm-3(data-fields='emptyWeight')
    .col-sm-3(data-fields='totalWeight')
    .col-sm-3(data-fields='payload')
  .form-group
    label.control-label.col-sm-3 Immat et Valeur
    .col-sm-3(data-fields='registrationNumber')
    .col-sm-2(data-fields='issueDate')
    .col-sm-2(data-fields='newValue')
    .col-sm-2(data-fields='updatedValue')  
