/*begin-index*/

.tkf-index-index-1 {
  margin-top: 1.75%;
  text-align: left;
}

.tkf-index-index-2 {
  padding-bottom: 1%;
  padding-top: 1%;
}

.parg-index-index-1 {
  font-size: 14px;
}

.tkf-index-index-1 img {
  width: 260px;
  height: 277px;
}

.img-index-index-1 {
  margin-left: 58.8%;
  margin-top: -21.5%;
}

.img-index-2 {
  position: relative;
  top: 22px;
  margin-bottom: 0.5cm;
  height: 120px;
  width: 220px;
}

.tkf-index-1 {
  color: #F0FFFF;
  text-align: center;
}

.tkf-index-1-auto {
  background-color: #095228;
  border-color: #095228;
}

.tkf-index-1-assistance {
  background-color: #E65C00;
  border-color: #E65C00;
}

.tkf-index-1-tamouil {
  background-color: #0F056B;
  border-color: #0F056B;
}

.tkf-index-1-life {
  background-color: #DB0073;
  border-color: #DB0073;
}

.parg-index-2 {
  font-size: 12px;
  font-style: italic;
  margin-top: 5%;
  margin-left: 2%;
}

.imag-2-index-index-2 {
  margin-left: 67%;
  margin-top: 15%;
}


/*end index*/