.col-sm-6.tkf-loan-index-2 h1,
.col-sm-6.tkf-loan-index-1 h1 {
  color: #000000;
  text-align: left;
  font-weight: 650;
  margin-bottom: 8px;
  margin-top: 25px;
}

.col-sm-6.tkf-loan-index-index-1 h1 {
  font-size: 30px;
}

.col-sm-6.text-center.tkf-loan-index-1 img {}

.left-condition {
  left: 20px;
}

.left-paper {
  left: 80px;
}

.left-paper-subtitle {
  left: 60px;
}

.font-size {
  font-size: 13.75px;
}

.contribution-message {
  font-weight: bold;
  color: red;
}

.modal-dialog {
  width: 800px;
}