
.row.tkf-loan-index-1
  .col-sm-6.tkf-loan-index-1.col-sm-6.tkf-loan-index-index-1
    h1
      span ASSURANCE TAKAFUL
      span.text-pink  VIE
    ul.title
      li.text-pink.text-color
        | Quelles formules offre-t-elle ?
        ul
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Formule A :
           span.text-gray   Plan Epargne & Retraite : 100% Capitalisation (Epargne pure).
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Formule B :
           span.text-gray  Plan Epargne & Prévoyance : En cas de décès, le bénéficiaire recevra le montant le plus élevé entre le capital Décès prévu et le montant de l’épargne constituée.
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Formule C :
           span.text-gray  Plan Epargne & Prévoyance «Plus» : En cas de décès, le bénéficiaire recevra le cumul du capital Décès fixé et du montant de l'épargne atteint.
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Formule D :
           span.text-gray  Plan Prévoyance : 100% Prévoyance (Décès & Invalidité).
    ul.title
      li.text-pink.text-color
        | Quelles garanties offre-t-elle ?
        ul
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Garantie 1 : «IPP et IPT» :
           span.text-gray  En cas d’Invalidité Permanente Partielle ou Totale, versement d’un capital équivalent au taux d’Invalidité multiplié par le capital Décès fixé.
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Garantie 2 : «Décès accidentel» :
           span.text-gray  En cas de décès accidentel, versement d’un capital supplémentaire équivalent au capital décès.
         li.text-gray
          p.parag-index-1
           span.text-bold.text-gray Garantie 3 : «IPP et IPT accidentelle» :
           span.text-gray  En cas d’Invalidité Permanente Partielle ou Totale, suite à un accident, versement d’un capital supplémentaire équivalent au taux d’Invalidité multiplié par le capital Décès déjà fixé. Cette garantie ne peut être accordée que si la Garantie 1 est souscrite.
  .col-sm-6.text-center.tkf-loan-index-1
    img.img-index-1(src='/img/vie.png')
    p.hang-parag-index-1.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.hang-parag-index-index-1 Vous aimerez garantir l'avenir de vos proches ?
    p.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.hang-parag-index-index-1 L'assurance vie constitue le meilleur moyen de le faire
.row.tkf-loan-index-2
  .col-sm-6.tkf-loan-index-2
    h1.tkf-index-2-pos.left-condition Nos conditions générales
    ul.tkf-index-2-pos.tkf-index-index-2-circle
      li
        a.btn.tkf-index-2(href='../res/life/CG-ER.pdf', target='_blank')
          | Conditions générales Epargne et retraite
      li
        a.btn.tkf-index-2(href='../res/life/CG1.pdf', target='_blank')
          | Conditions générales Epargne et prevoyance
      li
        a.btn.tkf-index-2(href='../res/life/CG2.pdf', target='_blank')
          | Conditions générales Epargne et prevoyance plus
    h1.tkf-index-2-pos.left-condition Nos fiches argumentaires
    ul.tkf-index-2-pos.tkf-index-index-2-circle
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-Argumentaire-ER.pdf', target='_blank')
          | Fiche Argumentaire "Epargne & Retraite" (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-Argumentaire-EP.pdf', target='_blank')
          | Fiche Argumentaire "Epargne & Prévoyance" (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-Argumentaire-EPP.pdf', target='_blank')
          | Fiche Argumentaire "Epargne & Prévoyance +" (Français)

  .col-sm-6.tkf-loan-index-2
    h1.tkf-index-2-pos.left-paper Autres documents
    ul.tkf-index-2-pos.tkf-index-index-2-circle.left-paper-subtitle
      li
        a.btn.tkf-index-2(href='../res/life/Charte-relative-aux-placements-VA.pdf', target='_blank')
          | Charte relative aux placements (Arabe)
      li
        a.btn.tkf-index-2(href='../res/life/Charte-relative-aux-placements-VF.pdf', target='_blank')
          | Charte relative aux placements (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-technique-ER.pdf', target='_blank')
          | Fiche technique "Epargne & Retraite" (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-technique-EP.pdf', target='_blank')
          | Fiche technique "Epargne & Prévoyance" (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Fiche-technique-EPP.pdf', target='_blank')
          | Fiche technique "Epargne & Prévoyance +" (Français)
      li
        a.btn.tkf-index-2(href='../res/life/Bulletin-de-souscription.pdf', target='_blank')
          | Bulletin de souscription (Français)