#loan-subscribe-backoffice
  .page-header: h3 Paramètrage d'une assurance Tamouil
  .col-sm-10.process-form
    include /family/partials/savings-error
    .panel.panel-default
      .panel-heading
        h4.panel-title Détails des mouvements
      .panel-body
        include /family/partials/loan-policy-form-backoffice-term
  .col-sm-2.process-act
    include /family/partials/savings-act-subscribe-admin
