#savings-policy-search
  .page-header: h3 Rechercher une Police
  .process-form
    .panel.panel-default
      .panel-heading
        h4.panel-title Critères de Recherche
      .panel-body
        include /family/partials/savings-policy-search-form-criteria
    .panel.panel-default
      .panel-heading
        h4.panel-title Résultats
      .panel-body
        include /family/partials/savings-policy-search-view-results