#savings-subscribe-request
  .page-header: h3 Demande au siège pour une assurance vie
  .col-sm-10.process-form
    include /family/partials/savings-error
    include /family/partials/savings-policy-form-request
  .col-sm-2.process-act
    include /family/partials/savings-act-subscribe-request
