div
  .row
    .col-sm-3
    .col-sm-3
  .row
    .col-sm-4
          label.control-label   Nouvelle date
    .col-sm-8
          div(data-fields='newLockDate')
  .row
    .col-sm-4
    .col-sm-8
      a.btn.btn-block.btn-success(data-actions='unlockSubscription')   Débloquer la souscription
  .row
    .col-sm-3
    .col-sm-3
