.panel.panel-default
  .panel-heading: h3.panel-title Actions
  .panel-body
    .col-sm-6
      .panel.panel-default
        .panel-heading: h3.panel-title Déblocage de la souscription Auto
        .panel-body.tkf-deblocking-subscription
    .col-sm-6
      .tkf-response
