.col-sm-6
  .panel.panel-default
    .panel-heading: h3.panel-title Détails de la demande
    .tkf-exemption-details
.col-sm-6
  .panel.panel-default
    .panel-heading: h3.panel-title Statut
    .tkf-exemption-actions-details
