.page-header.tkf-header: h3 Rechercher un Paiement Intermédiaire
.panel.panel-default
  .panel-heading: h3.panel-title Critères de Recherche
  .panel-body.tkf-criteria
.panel.panel-default
  .panel-heading: h3.panel-title Paiements
  .panel-body.tkf-results