#payment-request
  .page-header.tkf-header: h3 Demande au siège pour feuille de caisse N° <%= paymentReference() %>
  .tkf-exemption-form
  .row
  .col-sm-1
  .col-sm-8
    .tkf-exemption-receiptsToReport
