table.table.table-striped
  thead
    tr
      th Quittance
      th Contrat
      th Contr. TTC
      th Com.
      th Non payé
      th A payer
      th Com. cédée
      th Net à payer
      th
      th
  tbody