div.form-horizontal
  .row.form-group
    label.control-label.col-sm-1 Contrat       
    .col-sm-2(data-fields='policyReference')
    label.control-label.col-sm-2 Période du
    .col-sm-2(data-fields='fromDate')
    label.control-label.col-sm-1 Au
    .col-sm-2(data-fields='toDate')
    .col-sm-2
      a.btn.btn-block.btn-warning(data-actions='search') Rechercher