.panel.panel-heading.tkf-header
.row
  .col-sm-6
    .panel.panel-default
      .panel-heading: h3.panel-title Contrat
      .panel-body.tkf-premium
  .col-sm-6
    .panel.panel-default
      .panel-heading: h3.panel-title Contribution
      .panel-body.tkf-summary
.panel.panel-default
  .panel-heading: h3.panel-title Détails de la contribution
  .panel-body.tkf-details
.panel.panel-default
  .panel-heading: h3.panel-title Actions
  ul.list-group
    li.list-group-item.tkf-payment
    li.list-group-item.tkf-payment-list
    li.list-group-item.tkf-premium-actions