.panel.panel-default
  .panel-heading: h3.panel-title Critères de Recherche
  .panel-body.tkf-criteria
.panel.panel-default
  .panel-heading: b.tkf-receiptsSummary
 .panel.panel-default
  .panel-heading: h3.panel-title Quittances <%= moreThan50() %>
  .panel-body.tkf-results
