td(data-values='reference')
 a(href!= '#payment/<%= reference %>/consult', title!= '<%= reference %>')
    button.btn.btn-link(type='button') <%= reference %>
td!= '<%= _.beautifyAmount(amount) %>'
td!= '<%= _.beautifyDate(date) %>'

