.page-header.tkf-header: h3 Recherche de quittances
.panel.panel-default
  .panel-heading: h3.panel-title Critères de Recherche
  .panel-body.tkf-criteria
.panel.panel-default
  .panel-heading: b.tkf-receiptsSummary
 .panel.panel-default
  .panel-heading: h3.panel-title Quittances
    .tkf-info
  .panel-body.tkf-results
