.row
.panel.panel-default
  .panel-heading: h3.panel-title Ajouter Règlement
  .panel-body.tkf-settlement
.panel.panel-default
  .panel-heading: h3.panel-title Règlements
  .panel-body.tkf-settlementsList
