form(role='form', novalidate)
  .col-sm-4.form-group
    label.control-label Mortalité
    input.form-control(type='number',
      ng-model='policy.adjustement.termSurvAdjust')
  .col-sm-4.form-group
    label.control-label Acquisition
    input.form-control(type='number',
      ng-model='policy.adjustement.com')