a.btn.btn-success.btn-block(type='button', href='{{computed.quoteDoc}}')
  span.glyphicon.glyphicon-print
  | Offre
button.btn.btn-danger.btn-block(type='button', ng-click='toContract()')
  span.glyphicon.glyphicon-ok-sign
  | Souscrire