button.btn.btn-default.btn-block(type='button', ng-click='reload()')
  span.glyphicon.glyphicon-refresh
  | Recharger
button.btn.btn-danger.btn-block(type='button', ng-click='validate()', ng-disabled='lock')
  span.glyphicon.glyphicon-exclamation-sign
  | Valider
button.btn.btn-default.btn-block(type='button', ng-click='toSubscribe()')
  span.glyphicon.glyphicon-step-backward
  | Retour