#savings-policy-form
  .page-header: h3 Envoyer un SMS
  .process-form
    .panel.panel-default
      .panel-heading
        h4.panel-title My Twilio App
      .panel-body
        include /smsapi/partials/savings-policy-form-sms