form.navbar-form.tkf-connection-form
  .form-group
    div(data-editors='username')
  .form-group
    div(data-editors='password')
  button.btn.btn-success(type='submit'): span.glyphicon.glyphicon-log-in
