.panel.panel-success
  .panel-heading: h3.panel-title Actions
  .panel-body
    a.btn.btn-block.glyphicon.glyphicon-plus.btn-success(data-actions='addBranch' title='Ajouter une nouvelle branche')
      span Branche
    a.btn.btn-block.glyphicon.glyphicon-plus.btn-success(data-actions='addProduct' title='Ajouter un nouveau produit')
      span Produit
    a.btn.btn-block.glyphicon.glyphicon-plus.btn-success(data-actions='addCover' title='Ajouter une nouvelle garantie')
      span Garantie