.panel.panel-default
  .panel-heading: h3.panel-title Liste des produits
  .panel-body
    table.table.table-striped
      thead
        tr
          th.col-sm-5(colspan='2' title='Désignation du produit') Désignation
          th.col-sm-2(title='Branche du produit') Branche
          th.col-sm-2(title='Date effet du produit') Date effet
          th.col-sm-2(title='Date fin du produit') Date fin
          th.col-sm-1(title='Etat du produit') Etat
          th(colspan='2')
      tbody
