td.col-sm-2(data-values='code')!= '<%= code %>'
td.col-sm-4(data-values='name')!= '<%= name %>'
td.col-sm-4
td.col-sm-2
  a.btn.btn-block.glyphicon.glyphicon-align-justify.btn-success(data-actions='displayCoverComm' title='Afficher les commissions')  Commission