.panel.panel-default
  .panel-heading: h3.panel-title Liste des commissions de la garantie
  .panel-body
    table.table.table-striped
      thead
        tr
          th.col-sm-9(colspan='2' title='Profil de commission') Profil
          th.col-sm-1 % de commission
          th.col-sm-1
          th.col-sm-1
      tbody
