.panel.panel-default
  .panel-heading: h3.panel-title Liste des garanties
  .panel-body
    table.table.table-striped
      thead
        tr
          th.col-sm-6(colspan='2' title='Code et désignation de la garantie') Garantie
          th.col-sm-4
          th.col-sm-2
      tbody
