.row.tkf-index-index-1
  .col-sm-3.tkf-index-index-1
      span.text-bold.parg-index-index-1.text-bold.text-gray ASSURANCE TAKAFUL
      span
         a.parg-index-index-1.text-bold.text-green(href='/auto#index')  AUTOMOBILE
      div
        a(href='/auto#index')
            img( src='img/auto.png')
        p: a.btn.tkf-index-1-auto.tkf-index-1.img-index-index-1(href='/auto#subscribe') SOUSCRIRE
  .col-sm-3.tkf-index-index-1
    span.parg-index-index-1.text-bold.text-gray ASSURANCE TAKAFUL
    span
       a.parg-index-index-1.text-bold.text-orange(href='/assistance#index')  ASSISTANCE
    div
      a(href='/assistance#index')
          img( src='img/assistance.png')
      p: a.btn.tkf-index-1-assistance.tkf-index-1.img-index-index-1(href='/assistance#subscribe') SOUSCRIRE
  .col-sm-3.tkf-index-index-1
    span.parg-index-index-1.text-bold.text-gray ASSURANCE TAKAFUL
    span
       a.parg-index-index-1.text-bold.text-blue(href='/loan#index')   TAMOUIL
    div
      a(href='/loan#index')
          img( src='img/loan.png')
      p: a.btn.tkf-index-1-tamouil.tkf-index-1.img-index-index-1(href='/loan#subscribe') SOUSCRIRE
  .col-sm-3.tkf-index-index-1
    span.parg-index-index-1.text-bold.text-gray ASSURANCE TAKAFUL
    span
       a.parg-index-index-1.text-bold.text-pink(href='/family/#/index')   VIE
    div
      a(href='/family/#/index')
          img( src='img/vie.png')
      p: a.btn.tkf-index-1-life.tkf-index-1.img-index-index-1(href='/family#savings/subscribe/new') SOUSCRIRE
.row.tkf-index-index-2
  .col-sm-6
    img.img-index-2(src='img/logo.png')
    p.parg-index-2.text-gray Pour le meilleur et pour le pire
  .col-sm-6
    img.imag-2-index-index-2(src='img/alikSysIndex.png')
