db.pos.commission.update({code: '0XX'}, {$set: {'nameFr': 'Profil sans commission'}})
db.pos.commission.update({code: '1XX'}, {$set: {'nameFr': 'Profil conseiller commercial'}})
db.pos.commission.update({code: '2XX'}, {$set: {'nameFr': 'Profil agent général'}})
db.pos.commission.update({code: '7XX'}, {$set: {'nameFr': 'Profil courtier'}})
