.form-horizontal
  .form-group
    label.control-label.col-sm-2 Identifiant
    .col-sm-10(data-fields='id')
  .form-group
    label.control-label.col-sm-2 Raison sociale
    .col-sm-10(data-fields='companyName')
