.row
  .col-sm-3.form-group
    label.control-label Registre du commerce
    .form-control-static(data-values='id')!= '<%= id %>'
  .col-sm-6.form-group
    label.control-label Raison sociale
    .form-control-static(data-values='companyName')!= '<%= companyName %>'
  .col-sm-3.form-group
    label.control-label Téléphone
    .form-control-static(data-values='phone')!= '<%= phone %>'
