table.table.table-striped
  thead
    tr
      th(title='Utilisateur') Utilisateur
      th(title='Date de l\'action') Date action
      th(title='Action') Action
      th(title='Commentaires') Commentaires
      th(title='Contexte') Contexte
  tbody
