table.table.table-striped
  thead
    tr
      th(title='Point de vente') PDV
      th(title='N° de la quittance') N° Qt.
      th(title='N° du contrat') N° Ct.
      th(title='Status de la quittance') Status
      th(title='Nature de l\'anomalie') Anomalie
      th(title='Contirbution nette totale') Cont. Nette
      th(title='Commission de la quittance') Comm. Q.
      th(title='Commission recalculée') Comm. C.
      th
  tbody
