table.table.table-striped
  thead
    tr
      th(colspan=2 title='Garantie') Garantie
      th(title='Contribution nette') Cont. Nette
      th(title='Commission de la quittance') Commission Q.
      th(title='Commission recalculée') Commission recalculée
      th(title='% de commission') % de commission
  tbody
