.panel.panel-default
  .panel-heading: h3.panel-title Générer une quittance d'ajustement automatique
  .panel-body.tkf-automaticReceiptDetails
  .panel-body.tkf-automaticReceiptGen
.panel.panel-default
  .panel-heading: h3.panel-title Générer une quittance d'ajustement manuelle
  .panel-body.tkf-manualReceipt
.panel.panel-default
  .panel-heading: h3.panel-title Corriger directement la quittance (activé uniquement si pas de FC)
  .panel-body.tkf-fixReceipt