td(data-values='act')!= '<%= act%>'
td(data-values='date')!= '<%= _.beautifyDate(date)%>'
td(data-values='actDate')!= '<%= _.beautifyDate(actDate)%>'
td(data-values='modifiedBy')!= '<%= modifiedBy %>'
