.page-header.tkf-header: h3 Dérogation N° <%= exemptionReference() %> - <%= updateExemptionType() %>
.panel.panel-default
  .panel-heading: h3.panel-title Synthèse
  .panel-body.tkf-exemption-details
.tkf-response
