.row.page-header
  .col-sm-4.tkf-header: h3 Feuille de caisse N° <%= paymentReference() %>
.row
  .col-sm-12.tkf-actions
.panel-body.tkf-comments
.row
  .col-sm-4
    .panel.panel-default
      .panel-heading: h3.panel-title Synthèse
      .tkf-summary-payment
  .col-sm-4
    .panel.panel-default
      .panel-heading: h3.panel-title Montants
      .tkf-payment-amounts  
  .col-sm-4
    .panel.panel-default
      .panel-heading: h3.panel-title Soldes
      .tkf-payment-reserved
.panel.panel-default
  .panel-heading: h3.panel-title Quittances
  .panel-body.tkf-listReceipts
  .panel-body.tkf-totalReceipts
 .panel.panel-default
  .panel-heading: h3.panel-title Règlements
  .panel-body.tkf-settlementsList
 .panel.panel-default
  .panel-heading: h3.panel-title Liquidation
  .panel-body.tkf-parts
