table.table.table-striped
  thead
    tr
      th Référence
      th Intermédiaire
      th Statut
      th Nb. Quittances
      th Solde
      th Contr. payée
      th Date Création
      th Date clôture
      th
      th
  tbody