.row
  .col-sm-2
  .col-sm-2
    a.btn.btn-block.btn-success(data-actions='validate') Valider
  .col-sm-2
    a.btn.btn-block.btn-danger(data-actions='reject') Rejeter
  .col-sm-6
    div(data-fields='comments')