div
  .form-horizontal
    .form-group
      .col-sm-1
        label.control-label Police
      .col-sm-3
        div(data-fields='reference')
      .col-sm-1
        label.control-label Client
      .col-sm-3
        div(data-fields='clientName')
      .col-sm-1
        label.control-label Interm.
      .col-sm-3
        div(data-fields='pos')
    .form-group
      .col-sm-1
        label.control-label Statut
      .col-sm-3
        div(data-fields='status')
      .col-sm-1
        label.control-label Date
      .col-sm-3
        div(data-fields='termDate')
      .col-sm-1
      .col-sm-3
        a.btn.btn-block.btn-warning(data-actions='term') Rechercher