.row
  .col-sm-2
    a.btn.btn-block.btn-success(data-actions='validate') Valider
  .col-sm-2
    a.btn.btn-block.btn-warning(data-actions='delay') Différer
  .col-sm-2
    a.btn.btn-block.btn-danger(data-actions='reject') Rejeter
  .col-sm-2
    a.btn.btn-block.btn-primary(data-actions='save') Enregistrer annulations
  .col-sm-4
      div(data-fields='comments')