script#actors-person-form(type='text/template')
  include /partials/actors/person-form
script#actors-company-form(type='text/template')
  include /partials/actors/company-form
script#actors-person-consult(type='text/template')
  include /partials/actors/person-consult
script#actors-company-consult(type='text/template')
  include /partials/actors/company-consult
script#actors-person-insured-form(type='text/template')
  include /partials/actors/person-insured-form
script#actors-company-insured-form(type='text/template')
  include /partials/actors/company-insured-form
script#actors-person-form-and-map(type='text/template')
  include /partials/actors/person-form-and-map
script#actors-company-form-and-map(type='text/template')
  include /partials/actors/company-form-and-map
script#actors-map-template(type='text/template')
  include /partials/actors/map-template