script#admin-search-main(type='text/template')
  include /partials/admin/search-main
script#admin-receipt-search-view(type='text/template')
  include /partials/admin/receipt-search-view
script#admin-receipt-search-criteria(type='text/template')
  include /partials/admin/receipt-search-criteria
script#admin-receipt-search-result-row(type='text/template')
  include /partials/admin/receipt-search-result-row
script#admin-receipt-search-result-table(type='text/template')
  include /partials/admin/receipt-search-result-table
script#admin-payment-search(type='text/template')
  include /partials/admin/payment-search
script#admin-payment-search-criteria(type='text/template')
  include /partials/admin/payment-search-criteria
script#admin-payment-search-result-row(type='text/template')
  include /partials/admin/payment-search-result-row
script#admin-payment-validate-view(type='text/template')
  include /partials/admin/payment-validate-view
script#admin-payment-controle-view(type='text/template')
  include /partials/admin/payment-controle-view
script#admin-payment-fields-view(type='text/template')
  include /partials/admin/payment-fields-view
script#admin-rejection-button(type='text/template')
  include /partials/admin/rejection-button
script#admin-validation-buttons(type='text/template')
  include /partials/admin/validation-buttons
script#admin-finalize-button(type='text/template')
  include /partials/admin/finalize-button
script#admin-payment-search-result-table(type='text/template')
  include /partials/admin/payment-search-result-table
script#admin-payback-main(type='text/template')
  include /partials/admin/payback-main
script#admin-payback-title(type='text/template')
  include /partials/admin/payback-title
script#admin-payback-pos(type='text/template')
  include /partials/admin/payback-pos
script#admin-payback-search-payment(type='text/template')
  include /partials/admin/payback-search-payment
script#admin-payback-payment-criteria(type='text/template')
  include /partials/admin/payback-payment-criteria
script#admin-payback-payment-result-row(type='text/template')
  include /partials/admin/payback-payment-result-row
script#admin-payback-payment-result-table(type='text/template')
  include /partials/admin/payback-payment-result-table
script#admin-payback-payments-list(type='text/template')
  include /partials/admin/payback-payments-list
script#admin-payback-payment-row(type='text/template')
  include /partials/admin/payback-payment-row
script#admin-settlement-view(type='text/template')
  include /partials/admin/settlement-view
script#admin-settlement-data(type='text/template')
  include /partials/admin/settlement-data
script#admin-settlement-consult-table(type='text/template')
  include /partials/admin/settlement-consult-table
script#admin-settlement-consult-row(type='text/template')
  include /partials/admin/settlement-consult-row
script#admin-payback-summary(type='text/template')
  include /partials/admin/payback-summary
script#admin-terms(type='text/template')
  include /partials/admin/terms
script#admin-terms-search(type='text/template')
  include /partials/admin/terms-search
script#admin-terms-view(type='text/template')
  include /partials/admin/terms-view
script#admin-terms-row(type='text/template')
  include /partials/admin/terms-row
script#admin-terms-table(type='text/template')
  include /partials/admin/terms-table
script#admin-terms-renewal-view(type='text/template')
  include /partials/admin/terms-renewal-view
script#admin-payback-search(type='text/template')
  include /partials/admin/payback-search
script#admin-payback-search-criteria(type='text/template')
  include /partials/admin/payback-search-criteria
script#admin-payback-search-result-row(type='text/template')
  include /partials/admin/payback-search-result-row
script#admin-payback-consult-fields-view(type='text/template')
  include /partials/admin/payback-consult-fields-view
script#admin-payback-amounts(type='text/template')
  include /partials/admin/payback-amounts
script#admin-payback-consult-payments-table(type='text/template')
  include /partials/admin/payback-consult-payments-table
script#admin-payback-consult-payment-row(type='text/template')
  include /partials/admin/payback-consult-payment-row
script#admin-payback-consult-view(type='text/template')
  include /partials/admin/payback-consult-view
script#admin-payback-total-payments(type='text/template')
  include /partials/admin/payback-total-payments
script#admin-settlement-table(type='text/template')
  include /partials/admin/settlement-table
script#admin-settlement-row(type='text/template')
  include /partials/admin/settlement-row
script#admin-payback-print-buttons(type='text/template')
  include /partials/admin/payback-print-buttons
script#admin-payback-generate-button(type='text/template')
  include /partials/admin/payback-generate-button
script#admin-payback-balance(type='text/template')
  include /partials/admin/payback-balance
script#admin-payment-parts-table(type='text/template')
  include /partials/admin/payment-parts-table
script#admin-payment-part-row(type='text/template')
  include /partials/admin/payment-part-row
script#admin-controle-button(type='text/template')
  include /partials/admin/controle-button
script#admin-payment-receipts-table(type='text/template')
  include /partials/admin/payment-receipts-table
script#admin-payment-receipt-row(type='text/template')
  include /partials/admin/payment-receipt-row
script#admin-reverse-validation-button(type='text/template')
  include /partials/admin/reverse-validation-button
script#admin-search-exemptions(type='text/template')
  include /partials/admin/search-exemptions
script#admin-exemption-search-criteria(type='text/template')
  include /partials/admin/exemption-search-criteria
script#admin-exemption-search-view(type='text/template')
  include /partials/admin/exemption-search-view
script#admin-exemption-search-result-table(type='text/template')
  include /partials/admin/exemption-search-result-table
script#admin-exemption-search-result-row(type='text/template')
  include /partials/admin/exemption-search-result-row
script#admin-exemption-consult-view(type='text/template')
  include /partials/admin/exemption-consult-view
script#admin-exemption-manage-view(type='text/template')
  include /partials/admin/exemption-manage-view
script#admin-exemption-manage-response-view(type='text/template')
  include /partials/admin/exemption-manage-response-view
script#admin-exemption-details-view(type='text/template')
  include /partials/admin/exemption-details-view
script#admin-exemption-consult-details-view(type='text/template')
  include /partials/admin/exemption-consult-details-view
script#admin-payment-exemption-manage-view(type='text/template')
  include /partials/admin/payment-exemption-manage-view
script#admin-exemption-manage-actions-view(type='text/template')
  include /partials/admin/exemption-manage-actions-view
script#admin-exemption-manage-details-view(type='text/template')
  include /partials/admin/exemption-manage-details-view
script#admin-exemption-response-details-view(type='text/template')
  include /partials/admin/exemption-response-details-view
script#admin-exemption-status-summary-view(type='text/template')
  include /partials/admin/exemption-status-summary-view
script#admin-exemption-actions-table(type='text/template')
  include /partials/admin/exemption-actions-table
script#admin-exemption-act-result-row(type='text/template')
  include /partials/admin/exemption-act-result-row
script#admin-payment-receipts-consult-table(type='text/template')
  include /partials/admin/payment-receipts-consult-table
script#admin-payment-receipt-consult-row(type='text/template')
  include /partials/admin/payment-receipt-consult-row
script#admin-exemption-receipts-to-report-table(type='text/template')
  include /partials/admin/exemption-receipts-to-report-table
script#admin-exemption-receipt-to-report-consult-row(type='text/template')
  include /partials/admin/exemption-receipt-to-report-consult-row
script#admin-payment-receipt-delete-row(type='text/template')
  include /partials/admin/payment-receipt-delete-row
script#admin-commission-search(type='text/template')
  include /partials/admin/commission-search
script#admin-commission-search-view(type='text/template')
  include /partials/admin/commission-search-view
script#admin-commission-search-criteria(type='text/template')
  include /partials/admin/commission-search-criteria
script#admin-pos-summary-view(type='text/template')
  include /partials/admin/pos-summary-view
script#admin-commission-result-row(type='text/template')
  include /partials/admin/commission-result-row
script#admin-commission-result-table(type='text/template')
  include /partials/admin/commission-result-table
script#admin-commission-manage(type='text/template')
  include /partials/admin/commission-manage
script#admin-commission-manage-view(type='text/template')
  include /partials/admin/commission-manage-view
script#admin-receipt-summary-view(type='text/template')
  include /partials/admin/receipt-summary-view
script#admin-commission-history-row(type='text/template')
  include /partials/admin/commission-history-row
script#admin-commission-history-table(type='text/template')
  include /partials/admin/commission-history-table
script#admin-commission-coverage-row(type='text/template')
  include /partials/admin/commission-coverage-row
script#admin-commission-coverage-table(type='text/template')
  include /partials/admin/commission-coverage-table
script#admin-commission-action-form(type='text/template')
  include /partials/admin/commission-action-form
script#admin-commission-adjust-view(type='text/template')
  include /partials/admin/commission-adjust-view
script#admin-commission-cover-adjust-row(type='text/template')
  include /partials/admin/commission-cover-adjust-row
script#admin-commission-cover-adjust-table(type='text/template')
  include /partials/admin/commission-cover-adjust-table
script#admin-commission-auto-receipt-gen(type='text/template')
  include /partials/admin/commission-auto-receipt-gen
