script#assistance-index(type='text/template')
  include /partials/assistance/index
script#assistance-error(type='text/template')
  include /partials/assistance/error
script#assistance-travel-form(type='text/template')
  include /partials/assistance/travel-form
script#assistance-quote-form(type='text/template')
  include /partials/assistance/quote-form  
script#assistance-traveler-form-row(type='text/template')
  include /partials/assistance/traveler-form-row
script#assistance-traveler-form-table(type='text/template')
  include /partials/assistance/traveler-form-table  
script#assistance-third-party-person-form(type='text/template')
  include /partials/assistance/third-party-person-form
script#assistance-quote-consult-header(type='text/template')
  include /partials/assistance/quote-consult-header
script#assistance-quote-consult-travel(type='text/template')
  include /partials/assistance/quote-consult-travel
script#assistance-quote-consult-premium(type='text/template')
  include /partials/assistance/quote-consult-premium
script#assistance-coverage-consult-row(type='text/template')
  include /partials/assistance/coverage-consult-row
script#assistance-coverage-consult-table(type='text/template')
  include /partials/assistance/coverage-consult-table
script#assistance-quote-consult-message(type='text/template')
  include /partials/assistance/quote-consult-message
script#assistance-quote-save(type='text/template')
  include /partials/assistance/quote-save
script#assistance-quote-form-subscriber(type='text/template')
  include /partials/assistance/quote-form-subscriber
script#assistance-contract-consult-message(type='text/template')
  include /partials/assistance/contract-consult-message
script#assistance-contract-save(type='text/template')
  include /partials/assistance/contract-save
script#assistance-subscribe-step1(type='text/template')
  include /partials/assistance/subscribe-step1
script#assistance-subscribe-step2(type='text/template')
  include /partials/assistance/subscribe-step2
script#assistance-subscribe-step3(type='text/template')
  include /partials/assistance/subscribe-step3
script#assistance-subscribe-step4(type='text/template')
  include /partials/assistance/subscribe-step4
script#assistance-subscribe-summary(type='text/template')
  include /partials/assistance/subscribe-summary
script#assistance-subscribe(type='text/template')
  include /partials/assistance/subscribe
script#assistance-search-view(type='text/template')
  include /partials/assistance/search-view
script#assistance-search-criteria(type='text/template')
  include /partials/assistance/search-criteria
script#assistance-search-result-table(type='text/template')
  include /partials/assistance/search-result-table
script#assistance-search-result-row(type='text/template')
  include /partials/assistance/search-result-row
script#assistance-search(type='text/template')
  include /partials/assistance/search
script#assistance-consult(type='text/template')
  include /partials/assistance/consult
script#assistance-consult-title(type='text/template')
  include /partials/assistance/consult-title
script#assistance-pricings-row(type='text/template')
  include /partials/assistance/pricings-row
script#assistance-pricings-view(type='text/template')
  include /partials/assistance/pricings-view
