script#auto-index(type='text/template')
  include /partials/auto/index
script#auto-error(type='text/template')
  include /partials/auto/error
script#auto-insured-form(type='text/template')
  include /partials/auto/insured-form
script#auto-vehicle-form(type='text/template')
  include /partials/auto/vehicle-form
script#auto-quote-form-properties(type='text/template')
  include /partials/auto/quote-form-properties
script#auto-quote-form-ren-dates(type='text/template')
  include /partials/auto/quote-form-ren-dates
script#auto-quote-form-fix-dates(type='text/template')
  include /partials/auto/quote-form-fix-dates
script#auto-quote-form(type='text/template')
  include /partials/auto/quote-form
script#auto-coverage-form-row(type='text/template')
  include /partials/auto/coverage-form-row
script#auto-coverage-form-table(type='text/template')
  include /partials/auto/coverage-form-table
script#auto-quote-consult-header(type='text/template')
  include /partials/auto/quote-consult-header
script#auto-quote-consult-vehicle(type='text/template')
  include /partials/auto/quote-consult-vehicle
script#auto-quote-consult-premium(type='text/template')
  include /partials/auto/quote-consult-premium
script#auto-coverage-consult-row(type='text/template')
  include /partials/auto/coverage-consult-row
script#auto-coverage-consult-table(type='text/template')
  include /partials/auto/coverage-consult-table
script#auto-quote-consult-message(type='text/template')
  include /partials/auto/quote-consult-message
script#auto-quote-save(type='text/template')
  include /partials/auto/quote-save
script#auto-quote-form-beneficiary(type='text/template')
  include /partials/auto/quote-form-beneficiary
script#auto-quote-form-subscriber(type='text/template')
  include /partials/auto/quote-form-subscriber
script#auto-quote-form-insured(type='text/template')
  include /partials/auto/quote-form-insured
script#auto-contract-consult-message(type='text/template')
  include /partials/auto/contract-consult-message
script#auto-contract-attestation-number(type='text/template')
  include /partials/auto/contract-attestation-number
script#auto-contract-save(type='text/template')
  include /partials/auto/contract-save
script#auto-subscribe-step1(type='text/template')
  include /partials/auto/subscribe-step1
script#auto-subscribe-step2(type='text/template')
  include /partials/auto/subscribe-step2
script#auto-subscribe-step3(type='text/template')
  include /partials/auto/subscribe-step3
script#auto-subscribe-step4(type='text/template')
  include /partials/auto/subscribe-step4
script#auto-subscribe-step5(type='text/template')
  include /partials/auto/subscribe-step5
script#auto-subscribe-summary(type='text/template')
  include /partials/auto/subscribe-summary
script#auto-subscribe(type='text/template')
  include /partials/auto/subscribe
script#auto-search-view(type='text/template')
  include /partials/auto/search-view
script#auto-search-criteria(type='text/template')
  include /partials/auto/search-criteria
script#auto-search-result-table(type='text/template')
  include /partials/auto/search-result-table
script#auto-search-result-row(type='text/template')
  include /partials/auto/search-result-row
script#auto-search(type='text/template')
  include /partials/auto/search
script#auto-consult(type='text/template')
  include /partials/auto/consult
script#auto-consult-actions-quote(type='text/template')
  include /partials/auto/consult-actions-quote
script#auto-consult-actions-policy(type='text/template')
  include /partials/auto/consult-actions-policy
script#auto-fleet-policy-view(type='text/template')
  include /partials/auto/fleet-policy-view
script#auto-fleet-contribution-view(type='text/template')
  include /partials/auto/fleet-contribution-view
script#auto-validate(type='text/template')
  include /partials/auto/validate
script#auto-contract-project(type='text/template')
  include /partials/auto/contract-project
script#auto-policy-term-view(type='text/template')
  include /partials/auto/policy-term-view
script#auto-policy-term-criteria(type='text/template')
  include /partials/auto/policy-term-criteria
script#auto-policy-term-table(type='text/template')
  include /partials/auto/policy-term-table
script#auto-policy-term-row(type='text/template')
  include /partials/auto/policy-term-row
script#auto-term(type='text/template')
  include /partials/auto/term
script#auto-consult-validate-policy(type='text/template')
  include /partials/auto/consult-validate-policy
script#auto-payment-form(type='text/template')
  include /partials/auto/payment-form
script#auto-payment-consult-row(type='text/template')
  include /partials/auto/payment-consult-row
script#auto-payment-consult-table(type='text/template')
  include /partials/auto/payment-consult-table
script#auto-term-consult(type='text/template')
  include /partials/auto/term-consult
script#auto-term-actions-policy(type='text/template')
  include /partials/auto/term-actions-policy
script#auto-term-validate-policy(type='text/template')
  include /partials/auto/term-validate-policy
script#auto-term-consult-header(type='text/template')
  include /partials/auto/term-consult-header
script#auto-fleet(type='text/template')
  include /partials/auto/fleet
script#auto-fleet-summary(type='text/template')
  include /partials/auto/fleet-summary
script#auto-fleet-step1(type='text/template')
  include /partials/auto/fleet-step1
script#auto-fleet-step2(type='text/template')
  include /partials/auto/fleet-step2
script#auto-fleet-step3(type='text/template')
  include /partials/auto/fleet-step3
script#auto-fleet-vehicle-row(type='text/template')
  include /partials/auto/fleet-vehicle-row
script#auto-fleet-vehicle-table(type='text/template')
  include /partials/auto/fleet-vehicle-table
script#auto-new-vehicle-form(type='text/template')
  include /partials/auto/new-vehicle-form
script#auto-fleet-quote-form(type='text/template')
  include /partials/auto/fleet-quote-form
script#auto-fleet-view-row(type='text/template')
  include /partials/auto/fleet-view-row
script#auto-fleet-view-table(type='text/template')
  include /partials/auto/fleet-view-table
script#auto-fleet-validate-action(type='text/template')
  include /partials/auto/fleet-validate-action
script#auto-fleet-vehicle-validate-table(type='text/template')
  include /partials/auto/fleet-vehicle-validate-table
script#auto-fleet-vehicle-validate-row(type='text/template')
  include /partials/auto/fleet-vehicle-validate-row
script#auto-vehicle-modal-view(type='text/template')
  include /partials/auto/vehicle-modal-view
script#auto-fleet-import(type='text/template')
  include /partials/auto/fleet-import
script#auto-fleet-validate-view(type='text/template')
  include /partials/auto/fleet-validate-view
script#auto-fleet-valid-locks(type='text/template')
  include /partials/auto/fleet-valid-locks
script#auto-fleet-valid-lock-row(type='text/template')
  include /partials/auto/fleet-valid-lock-row
script#auto-fleet-apply-bonus(type='text/template')
  include /partials/auto/fleet-apply-bonus
script#auto-fleet-discounts(type='text/template')
  include /partials/auto/fleet-discounts
script#auto-fleet-discounts-row(type='text/template')
  include /partials/auto/fleet-discounts-row
script#auto-fleet-discount-manage(type='text/template')
  include /partials/auto/fleet-discount-manage
script#auto-fleet-vehicle-dialog(type='text/template')
  include /partials/auto/fleet-vehicle-dialog
script#auto-fleet-consult-vehicle(type='text/template')
  include /partials/auto/fleet-consult-vehicle
script#auto-admin-search-result-table(type='text/template')
  include /partials/auto/admin-search-result-table
script#auto-admin-search-result-row(type='text/template')
  include /partials/auto/admin-search-result-row
script#auto-frontierInsurance(type='text/template')
  include /partials/auto/frontierInsurance
script#auto-frontierInsurance-index(type='text/template')
  include /partials/auto/frontierInsurance-index
script#auto-frontierInsurance-quote-form(type='text/template')
  include /partials/auto/frontierInsurance-quote-form
script#auto-frontierInsurance-vehicle-form(type='text/template')
  include /partials/auto/frontierInsurance-vehicle-form
script#auto-frontierInsurance-subscriber-form(type='text/template')
  include /partials/auto/frontierInsurance-subscriber-form
script#auto-frontierInsurance-summary(type='text/template')
  include /partials/auto/frontierInsurance-summary
script#auto-frontierInsurance-actions-policy(type='text/template')
  include /partials/auto/frontierInsurance-actions-policy
script#auto-frontierInsurance-btn(type='text/template')
  include /partials/auto/frontierInsurance-btn
script#auto-frontierInsurance-print-buttons(type='text/template')
  include /partials/auto/frontierInsurance-print-buttons
script#auto-frontierInsurance-display-error(type='text/template')
  include /partials/auto/frontierInsurance-display-error
