script#common-error(type='text/template')
  include /partials/common/error
script#common-field(type='text/template')
  include /partials/common/field
script#common-dialog-body(type='text/template')
  include /partials/common/dialog-body
