script#configs-product-layout(type='text/template')
  include /partials/configs/product-layout
script#configs-product-search-criteria(type='text/template')
  include /partials/configs/product-search-criteria
script#configs-product-action(type='text/template')
  include /partials/configs/product-action
script#configs-product-result-row(type='text/template')
  include /partials/configs/product-result-row
script#configs-product-result-table(type='text/template')
  include /partials/configs/product-result-table
script#configs-product-covers-row(type='text/template')
  include /partials/configs/product-covers-row
script#configs-product-covers-table(type='text/template')
  include /partials/configs/product-covers-table
script#configs-product-commissions-row(type='text/template')
  include /partials/configs/product-commissions-row
script#configs-product-commissions-table(type='text/template')
  include /partials/configs/product-commissions-table
