script#finance-error(type='text/template')
  include /partials/finance/error
script#finance-payment-edit(type='text/template')
  include /partials/finance/payment-edit
script#finance-receipt-search-criteria(type='text/template')
  include /partials/finance/receipt-search-criteria
script#finance-payment-summary-view(type='text/template')
  include /partials/finance/payment-summary-view
script#finance-payment-summary-fields-view(type='text/template')
  include /partials/finance/payment-summary-fields-view
script#finance-receipt-search-result-row(type='text/template')
  include /partials/finance/receipt-search-result-row
script#finance-receipt-search-result-table(type='text/template')
  include /partials/finance/receipt-search-result-table
script#finance-receipt-search-view(type='text/template')
  include /partials/finance/receipt-search-view
script#finance-payment-receipts-table(type='text/template')
  include /partials/finance/payment-receipts-table
script#finance-payment-receipt-row(type='text/template')
  include /partials/finance/payment-receipt-row
script#finance-payment-search(type='text/template')
  include /partials/finance/payment-search
script#finance-payment-search-criteria(type='text/template')
  include /partials/finance/payment-search-criteria
script#finance-payment-search-result-table(type='text/template')
  include /partials/finance/payment-search-result-table
script#finance-payment-search-result-row(type='text/template')
  include /partials/finance/payment-search-result-row
script#finance-payment-consult-view(type='text/template')
  include /partials/finance/payment-consult-view
script#finance-payment-consult-receipts-table(type='text/template')
  include /partials/finance/payment-consult-receipts-table
script#finance-payment-consult-receipt-row(type='text/template')
  include /partials/finance/payment-consult-receipt-row
script#finance-payment-fields-view(type='text/template')
  include /partials/finance/payment-fields-view
script#finance-payment-consult-fields-view(type='text/template')
  include /partials/finance/payment-consult-fields-view
script#finance-payment-total-receipts(type='text/template')
  include /partials/finance/payment-total-receipts
script#finance-settlement-view(type='text/template')
  include /partials/finance/settlement-view
script#finance-settlement-data(type='text/template')
  include /partials/finance/settlement-data
script#finance-settlement-receiptsToPay-table(type='text/template')
  include /partials/finance/settlement-receiptsToPay-table
script#finance-settlement-receipt-row(type='text/template')
  include /partials/finance/settlement-receipt-row
script#finance-settlement-consult-table(type='text/template')
  include /partials/finance/settlement-consult-table
script#finance-settlement-consult-row(type='text/template')
  include /partials/finance/settlement-consult-row
script#finance-settlement-table(type='text/template')
  include /partials/finance/settlement-table
script#finance-settlement-row(type='text/template')
  include /partials/finance/settlement-row
script#finance-receipt-consult-header(type='text/template')
  include /partials/finance/receipt-consult-header
script#finance-receipt-consult-view(type='text/template')
  include /partials/finance/receipt-consult-view
script#finance-receipt-consult-summary(type='text/template')
  include /partials/finance/receipt-consult-summary
script#finance-receipt-consult-parts-row(type='text/template')
  include /partials/finance/receipt-consult-parts-row
script#finance-receipt-consult-parts-table(type='text/template')
  include /partials/finance/receipt-consult-parts-table
script#finance-receipt-consult-payment-table(type='text/template')
  include /partials/finance/receipt-consult-payment-table
script#finance-receipt-consult-payment-row(type='text/template')
  include /partials/finance/receipt-consult-payment-row
script#finance-receipts-summary-view(type='text/template')
  include /partials/finance/receipts-summary-view
script#finance-receipt-consult(type='text/template')
  include /partials/finance/receipt-consult
script#finance-receipt-global-search-view(type='text/template')
  include /partials/finance/receipt-global-search-view
script#finance-receipt-search-result-global-row(type='text/template')
  include /partials/finance/receipt-search-result-global-row
script#finance-payment-amounts(type='text/template')
  include /partials/finance/payment-amounts
script#finance-receipt-export-search-criteria(type='text/template')
  include /partials/finance/receipt-export-search-criteria
script#finance-payment-reserved-use(type='text/template')
  include /partials/finance/payment-reserved-use
script#finance-payment-print-buttons(type='text/template')
  include /partials/finance/payment-print-buttons
script#finance-payment-generate-button(type='text/template')
  include /partials/finance/payment-generate-button
script#finance-receipt-information(type='text/template')
  include /partials/finance/receipt-information
script#finance-premium-search-criteria(type='text/template')
  include /partials/finance/premium-search-criteria
script#finance-premium-consult-view(type='text/template')
  include /partials/finance/premium-consult-view
script#finance-premium-search-view(type='text/template')
  include /partials/finance/premium-search-view
script#finance-premium-search-result-table(type='text/template')
  include /partials/finance/premium-search-result-table
script#finance-premium-search-result-row(type='text/template')
  include /partials/finance/premium-search-result-row
script#finance-premium-consult(type='text/template')
  include /partials/finance/premium-consult
script#finance-premium-consult-summary(type='text/template')
  include /partials/finance/premium-consult-summary
script#finance-premium-consult-header(type='text/template')
  include /partials/finance/premium-consult-header
script#finance-premium-settlement-form(type='text/template')
  include /partials/finance/premium-settlement-form
script#finance-premium-settlement-row(type='text/template')
  include /partials/finance/premium-settlement-row
script#finance-premium-settlement-table(type='text/template')
  include /partials/finance/premium-settlement-table
script#finance-premium-generate(type='text/template')
  include /partials/finance/premium-generate
script#finance-premium-coverages-table(type='text/template')
  include /partials/finance/premium-coverages-table
script#finance-premium-coverages-row(type='text/template')
  include /partials/finance/premium-coverages-row
script#finance-receipt-global-search-table(type='text/template')
  include /partials/finance/receipt-global-search-table
script#finance-receipt-print-button(type='text/template')
  include /partials/finance/receipt-print-button
script#finance-payment-request(type='text/template')
  include /partials/finance/payment-request
script#finance-payment-form-request(type='text/template')
  include /partials/finance/payment-form-request
script#finance-exemption-receipts-to-report-table(type='text/template')
  include /partials/finance/exemption-receipts-to-report-table
script#finance-exemption-receipt-to-report-consult-row(type='text/template')
  include /partials/finance/exemption-receipt-to-report-consult-row
