footer.container
  .row.tkf-footer
    .col-sm-2.text-center Copyright © At-Takafulia
    .col-sm-8.text-center 15, Rue de Jérusalem, Le Belvédère Tunis 1002 - Tél: +216 31 331 800 - Fax: +216 71 843 384
    .col-sm-2.text-center
      a.facebook(href='#' title='facebook')
        i.icomoon-facebook
      a.twitter(href='#' title='twitter')
        i.icomoon-twitter
      a.linkedin(href='http://tn.linkedin.com/company/assurances-attakafulia' title='linkedin')
        i.icomoon-linkedin
      a.earth(href='http://attakafulia.tn/' title='web')
        i.icomoon-earth
