script#index-index(type='text/template')
  include /partials/index/index
script#index-forbidden(type='text/template')
  include /partials/index/forbidden
script#index-wip(type='text/template')
  include /partials/index/wip
script#index-unauthorized(type='text/template')
  include /partials/index/unauthorized
 script#index-locked(type='text/template')
  include /partials/index/locked