script#loan-index(type='text/template')
  include /partials/loan/index
script#loan-error(type='text/template')
  include /partials/loan/error
script#loan-credit-form(type='text/template')
  include /partials/loan/credit-form
script#loan-beneficiary-form(type='text/template')
  include /partials/loan/beneficiary-form
script#loan-insured-form(type='text/template')
  include /partials/loan/insured-form
script#loan-quote-form-insured(type='text/template')
  include /partials/loan/quote-form-insured
script#loan-person-insured-form(type='text/template')
  include /partials/loan/person-insured-form
script#loan-quote-consult-credit(type='text/template')
  include /partials/loan/quote-consult-credit
script#loan-quote-consult-beneficiary(type='text/template')
  include /partials/loan/quote-consult-beneficiary
script#loan-quote-consult-insured(type='text/template')
  include /partials/loan/quote-consult-insured
script#loan-quote-consult-premium(type='text/template')
  include /partials/loan/quote-consult-premium
script#loan-quote-consult-message(type='text/template')
  include /partials/loan/quote-consult-message
script#loan-quote-form-subscriber(type='text/template')
  include /partials/loan/quote-form-subscriber
script#loan-subscribe-step1(type='text/template')
  include /partials/loan/subscribe-step1
script#loan-subscribe-step2(type='text/template')
  include /partials/loan/subscribe-step2
script#loan-subscribe-step3(type='text/template')
  include /partials/loan/subscribe-step3
script#loan-subscribe-step4(type='text/template')
  include /partials/loan/subscribe-step4
script#loan-subscribe-summary(type='text/template')
  include /partials/loan/subscribe-summary
script#loan-subscribe(type='text/template')
  include /partials/loan/subscribe
script#loan-medquest-form-row(type='text/template')
  include /partials/loan/medquest-form-row
script#loan-medquest-form-table(type='text/template')
  include /partials/loan/medquest-form-table
script#loan-insured-hhwg-form(type='text/template')
  include /partials/loan/insured-hhwg-form
script#loan-medselect-form-table(type='text/template')
  include /partials/loan/medselect-form-table
script#loan-medselect-form-row(type='text/template')
  include /partials/loan/medselect-form-row
script#loan-medselect-doctor(type='text/template')
  include /partials/loan/medselect-doctor
script#loan-medselect-lab(type='text/template')
  include /partials/loan/medselect-lab
script#loan-medselect-cardio(type='text/template')
  include /partials/loan/medselect-cardio
script#loan-medselect-imagery(type='text/template')
  include /partials/loan/medselect-imagery
script#loan-project-consult-message(type='text/template')
  include /partials/loan/project-consult-message
script#loan-project-save(type='text/template')
  include /partials/loan/project-save
script#loan-search-view(type='text/template')
  include /partials/loan/search-view
script#loan-search-criteria(type='text/template')
  include /partials/loan/search-criteria
script#loan-search-result-table(type='text/template')
  include /partials/loan/search-result-table
script#loan-search-result-row(type='text/template')
  include /partials/loan/search-result-row
script#loan-search(type='text/template')
  include /partials/loan/search
script#loan-consult(type='text/template')
  include /partials/loan/consult
script#loan-consult-actions-quote(type='text/template')
  include /partials/loan/consult-actions-quote
script#loan-consult-actions-policy(type='text/template')
  include /partials/loan/consult-actions-policy
script#loan-consult-reports-quote(type='text/template')
  include /partials/loan/consult-reports-quote
script#loan-quote-premium-operation(type='text/template')
  include /partials/loan/quote-premium-operation
script#loan-validat-layout(type='text/template')
  include /partials/loan/validat-layout
script#loan-policy-premium-operation(type='text/template')
  include /partials/loan/policy-premium-operation
script#loan-insured-layout(type='text/template')
  include /partials/loan/insured-layout
script#loan-edit-subscriber(type='text/template')
  include /partials/loan/edit-subscriber
script#loan-policy-valid-view(type='text/template')
  include /partials/loan/policy-valid-view
script#loan-policy-valid-actions(type='text/template')
  include /partials/loan/policy-valid-actions
script#loan-policy-valid-locks(type='text/template')
  include /partials/loan/policy-valid-locks
script#loan-policy-valid-lock-row(type='text/template')
  include /partials/loan/policy-valid-lock-row
