script#mySpace-controle-button(type='text/template')
  include /partials/mySpace/controle-button
script#mySpace-search-exemptions(type='text/template')
  include /partials/mySpace/search-exemptions
script#mySpace-exemption-search-criteria(type='text/template')
  include /partials/mySpace/exemption-search-criteria
script#mySpace-exemption-search-view(type='text/template')
  include /partials/mySpace/exemption-search-view
script#mySpace-exemption-search-result-table(type='text/template')
  include /partials/mySpace/exemption-search-result-table
script#mySpace-exemption-search-result-row(type='text/template')
  include /partials/mySpace/exemption-search-result-row
script#mySpace-exemption-consult-view(type='text/template')
  include /partials/mySpace/exemption-consult-view
script#mySpace-exemption-manage-view(type='text/template')
  include /partials/mySpace/exemption-manage-view
script#mySpace-exemption-manage-response-view(type='text/template')
  include /partials/mySpace/exemption-manage-response-view
script#mySpace-exemption-details-view(type='text/template')
  include /partials/mySpace/exemption-details-view
script#mySpace-exemption-consult-details-view(type='text/template')
  include /partials/mySpace/exemption-consult-details-view
script#mySpace-payment-exemption-manage-view(type='text/template')
  include /partials/mySpace/payment-exemption-manage-view
script#mySpace-exemption-manage-actions-view(type='text/template')
  include /partials/mySpace/exemption-manage-actions-view
script#mySpace-exemption-manage-details-view(type='text/template')
  include /partials/mySpace/exemption-manage-details-view
script#mySpace-exemption-response-details-view(type='text/template')
  include /partials/mySpace/exemption-response-details-view
script#mySpace-exemption-status-summary-view(type='text/template')
  include /partials/mySpace/exemption-status-summary-view
script#mySpace-exemption-actions-table(type='text/template')
  include /partials/mySpace/exemption-actions-table
script#mySpace-exemption-act-result-row(type='text/template')
  include /partials/mySpace/exemption-act-result-row
script#mySpace-exemption-receipts-to-report-table(type='text/template')
  include /partials/mySpace/exemption-receipts-to-report-table
script#mySpace-exemption-receipt-to-report-consult-row(type='text/template')
  include /partials/mySpace/exemption-receipt-to-report-consult-row

