if test
  script(src='/lib/moment/moment.js')
  script(src='/lib/Chart.js/Chart.js')
  script(src='/lib/angular/angular.js')
  script(src='/lib/angular-moment/angular-moment.js')
  script(src='/lib/angular-route/angular-route.js')
  script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
  script(src='/lib/angular-i18n/angular-locale_fr-tn.js')
  script(src='/lib/angular-chart.js/angular-chart.js')
else
  script(src='/lib/moment/min/moment.min.js')
  script(src='/lib/Chart.js/Chart.min.js')
  script(src='/lib/angular/angular.min.js')
  script(src='/lib/angular-moment/angular-moment.min.js')
  script(src='/lib/angular-route/angular-route.min.js')
  script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='/lib/angular-i18n/angular-locale_fr-tn.js')
  script(src='/lib/angular-chart.js/dist/angular-chart.js')