if test
  link(href='/lib/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
  link(href='/lib/angular-chart.js/dist/angular-chart.css', rel='stylesheet')
else
  link(href='/lib/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/lib/angular-chart.js/dist/angular-chart.css', rel='stylesheet')
