if test
  script(src='/lib/json2/json2.js')
  script(src='/lib/jquery/dist/jquery.js')
  script(src='/lib/jquery-number/jquery.number.js')
  script(src='/lib/select2/select2.js')
  script(src='/lib/moment/moment.js')
  script(src='/lib/moment/locale/fr.js')
  script(src='/lib/pikaday/pikaday.js')
  script(src='/lib/pikaday/plugins/pikaday.jquery.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.js')
  script(src='/lib/underscore/underscore.js')
  script(src='/lib/backbone/backbone.js')
  script(src='/lib/backbone-forms/distribution/backbone-forms.js')
  script(src='/lib/backbone.marionette/lib/backbone.marionette.js')
  script(src='/lib/bootbox/bootbox.js')
else
  script(src='/lib/json2/json2.js')
  script(src='/lib/jquery/dist/jquery.min.js')
  script(src='/lib/jquery-number/jquery.number.min.js')
  script(src='/lib/select2/select2.min.js')
  script(src='/lib/moment/min/moment.min.js')
  script(src='/lib/moment/locale/fr.js')
  script(src='/lib/pikaday/pikaday.js')
  script(src='/lib/pikaday/plugins/pikaday.jquery.js')
  script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
  script(src='/lib/underscore/underscore.js')
  script(src='/lib/backbone/backbone.js')
  script(src='/lib/backbone-forms/distribution/backbone-forms.min.js')
  script(src='/lib/backbone.marionette/lib/backbone.marionette.min.js')
  script(src='/lib/bootbox/bootbox.js')