.page-header: h3 
.panel.panel-default
  .panel-heading: h3.panel-title Données de la police
  ul.list-group
    li.list-group-item.tkf-panel-sep L'assuré
    li.list-group-item.tkf-insured
    li.list-group-item.tkf-insured-edit
    li.list-group-item.tkf-insured-comp
    li.list-group-item.tkf-panel-sep Le prêt
    li.list-group-item.tkf-loan
    li.list-group-item.tkf-loan-edit
    li.list-group-item.tkf-panel-sep Le bénéficiaire
    li.list-group-item.tkf-beneficiary
    li.list-group-item.tkf-beneficiary-edit
    li.list-group-item.tkf-panel-sep La contribution
    li.list-group-item.tkf-premium
    li.list-group-item.tkf-premium-edit
    li.list-group-item.tkf-panel-sep Le souscripteur
    li.list-group-item.tkf-subscriber
    li.list-group-item.tkf-subscriber-edit
    li.list-group-item.tkf-panel-sep Validation
    li.list-group-item.tkf-policy-validate
