.row
  .col-sm-4(data-actions='medicalReport')
  .col-sm-4(data-actions='urineAnalysis')
  .col-sm-4(data-actions='medicalQuest')
.row
  .col-sm-4(data-actions='bloodProfile')
  .col-sm-4(data-actions='ecgReport')
  .col-sm-4(data-actions='psaReport')
.row
  .col-sm-4(data-actions='effortECGReport')
  .col-sm-4(data-actions='chestReport')
  .col-sm-4(data-actions='financialReport')