.form-horizontal
  .form-group
    label.control-label.col-sm-2 Emprunt
    .col-sm-2(data-fields='amount')
    .col-sm-2(data-fields='releaseDate')
    .col-sm-2(data-fields='endDate')
    .col-sm-2(data-fields='deductible')
    .col-sm-2.form-control-static(data-values='duration')
