.row.tkf-loan-index-1
  .col-sm-6.tkf-loan-index-1.col-sm-6.tkf-loan-index-index-1
    h1
      span ASSURANCE TAKAFUL
      span.text-blue  TAMOUIL
    p.text-gray.parag-index-1 Takaful «Tamouil» est un contrat d’assurance temporaire, limité à la durée d’un crédit.
    p.text-gray Il garantit le remboursement à l’organisme prêteur du capital restant dû en cas de décès ou d’invalidité de l’assuré. 
    ul.title
      li.text-blue.text-color
        | Quel est son but ?
        ul
         li.text-gray
           | Garantir le remboursement des prêts.
         li.text-gray Eviter des ennuis financiers aux proches de l’assuré.
    ul.title
      li.text-blue.text-color
        | Quelles garanties offre-t-elle ?
        ul
         li.text-gray Le versement, en cas de décès de l’assuré, du capital restant dû à l’organisme prêteur.
         li.text-gray Le versement à l’organisme prêteur du capital restant dû en cas d’invalidité absolue et définitive de l’assuré.
         li.text-gray Le versement à l’organisme prêteur, en cas d’incapacité temporaire totale du travail de l’assuré, des mensualités venant à échéance pendant la période continue d’arrêt du travail.
  .col-sm-6.text-center.tkf-loan-index-1
    img.img-index-1(src='img/tamouil.png')
    p.hang-parag-index-1.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.font-size.hang-parag-index-index-1 Vous voulez emprunter en toute sérénité !
    p.text-white.tkt-index-1-hang.hang-index-index-1.tkf-index-2-pos
     span.font-size.hang-parag-index-index-1 At-Takafulia vous assure la sécurité de votre
         span.font-size  financement
.row.tkf-loan-index-2
  .col-sm-6.tkf-loan-index-2
    h1.tkf-index-2-pos.left-condition Nos conditions générales
    ul.tkf-index-2-pos.tkf-index-index-2-circle
      li
        a.btn.tkf-index-2(href='res/loan/test.pdf', target='_blank')
          | Conditions Générales 
  .col-sm-6.tkf-loan-index-2
    h1.tkf-index-2-pos.left-paper Nos formulaires papier
    ul.tkf-index-2-pos.tkf-index-index-2-circle.left-paper-subtitle
      li
        a.btn.tkf-index-2(href='res/loan/loan-fdr.pdf', target='_blank')
          | Formulaire de Déclaration du Risque
      li
        a.btn.tkf-index-2(href='res/DECLARATION-DE-PARTICIPATION.pdf', target='_blank')
          | Déclaration de participation (Bilingue)
