.form-horizontal
  .form-group
    label.control-label.col-sm-2 Taille et poids
    .col-sm-5(data-fields='insuredHeight')
    .col-sm-5(data-fields='insuredWeight')
  .form-group
    label.control-label.col-sm-2 Fumeur
    .col-sm-5(data-fields='insuredSmoker')
