.form-horizontal
  .form-group
    label.control-label.col-sm-2 Num. National
    .col-sm-10(data-fields='id')
  .form-group
    label.control-label.col-sm-2 Personne
    .col-sm-2(data-fields='gender')
    .col-sm-3(data-fields='firstName')
    .col-sm-3(data-fields='lastName')
    .col-sm-2(data-fields='birthDate')
  .form-group
    label.control-label.col-sm-2 Profession
    .col-sm-5(data-fields='profession')
    .col-sm-5(data-fields='field')
