ul.list-group
  li.list-group-item.tkf-panel-sep Taille et poids
  li.list-group-item.tkf-insured-comp
  li.list-group-item.tkf-panel-sep Questionnaire médical
  li.list-group-item.tkf-medical-selection
  li.list-group-item.tkf-panel-sep
  li.list-group-item.tkf-insured-comp-edit
