.form-horizontal
  .form-group
    label.control-label.col-sm-2 Num. National
    .col-sm-10(data-fields='id')
  .form-group
    label.control-label.col-sm-2 Nom
    .col-sm-2(data-fields='gender')
    .col-sm-4(data-fields='firstName')
    .col-sm-4(data-fields='lastName')
  .form-group
    label.control-label.col-sm-2 Assuré
    .col-sm-5(data-fields='birthDate')
    .col-sm-5(data-fields='birthPlace')