.form-horizontal
  .form-group
    label.control-label.col-sm-2 Cont. nette
    .col-sm-4(data-fields='premium')
    label.control-label.col-sm-2 Frais
    .col-sm-4(data-fields='fees')
  .form-group
    label.control-label.col-sm-2 Mortalité
    .col-sm-4(data-fields='adjustContribution')
    label.control-label.col-sm-2 Acquisition
    .col-sm-4(data-fields='adjustCommission')
