tr
  td(data-values='description')!= '<%= description %>'
  td
    a.btn.btn-block.btn-danger(data-actions='lockValidation') Rejeter
  td
    a.btn.btn-block.btn-success(data-actions='unlockValidation') Accepter
