.tkf-error
.panel.panel-default
  .panel-heading: h3.panel-title Souscripteur
  ul.list-group
    li.list-group-item.tkf-insured-type
    li.list-group-item.tkf-subscriber-type
    li.list-group-item.tkf-subscriber
