.tkf-error
.panel.panel-default
  .panel-heading: h3.panel-title Résumé du contrat
  ul.list-group
    li.list-group-item.tkf-step4-subscriber
.panel.panel-default
  .panel-heading: h3.panel-title La Contribution
  ul.list-group
    li.list-group-item.tkf-step4-premium
.panel.panel-default
  .panel-heading: h3.panel-title Ajustement sur contribution
  ul.list-group
    li.list-group-item.tkf-step4-premium-operation
.panel.panel-default
  .panel-heading: h3.panel-title Enregistrer le contrat
  ul.list-group
    li.list-group-item.tkf-step4-message
    li.list-group-item.tkf-panel-sep
    li.list-group-item.tkf-step4-save
