.tkf-error
.panel.panel-default
  .panel-heading: h3.panel-title Sélection médicale
  .panel-body.tkf-insuredhgwg
  .panel-body.tkf-medquestions
  .panel-body.tkf-medselections
.panel.panel-default.tkf-doctorpanel
  .panel-heading: h3.panel-title Examens nécessitant un médecin examinateur
  .panel-body.tkf-medselectdoctor
  .panel-body.tkf-doctortestlist
.panel.panel-default.tkf-labpanel
  .panel-heading: h3.panel-title Examens nécessitant une analyse médicale
  .panel-body.tkf-medselectlab
  .panel-body.tkf-labtestlist
.panel.panel-default.tkf-cardiopanel
  .panel-heading: h3.panel-title Examens nécessitant un médecin cardiologue
  .panel-body.tkf-medselectcardio
  .panel-body.tkf-cardiotestlist
.panel.panel-default.tkf-imagerypanel
  .panel-heading: h3.panel-title Examens nécessitant un centre d'imagerie médicale
  .panel-body.tkf-medselectimagery
  .panel-body.tkf-imagerytestlist
