.row
  .col-sm-6
  .col-sm-2
    a.btn.btn-block.btn-warning.hidden(data-actions='displayInsured') Autres informations
  .col-sm-2
    a.btn.btn-block.btn-primary(data-actions='editModView') Modifier
  .col-sm-2
    a.btn.btn-block.btn-success(data-actions='saveModView') Enregistrer
